.main-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .dashboard-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: nowrap;

    .sidebar {
      width: 20%;
      outline: 1px solid #fa3131;
    }
    .content-area {
      width: 80%;
      background: #f1f1f1;
      overflow-x: auto;
      outline: 1px solid #31fa3f;
    }
  }
}
